.text {
    font-family: sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-family: sans-serif;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 30px;
}

body {
    text-align: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

/* NAVHEADER */
#navHeader {
    align-content: center;
    text-align: center;
    background: #ea4242;
    padding-top: 10px; padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

#searchBar {
    margin: 0px;
    padding: 5px;
    outline: none;
    width: 200px;
    height: 25px;
    border-style: none;
}

#searchBar:focus {
    outline: none;
    border-style: none;
}

#searchButton {
    width: 200px;
    background: #EE6767;
    margin: 0 auto;
    font-family: sans-serif;
    color: #fff;
    padding-top: 12px; padding-left: 5px; padding-right: 5px;
    font-size: 12px;
    height: 25px;
    transition: all .1s linear;
}

#searchButton:hover {
    cursor: pointer;
}

#searchButton:active {
    transform: scale(0.95, 0.95);
    background: #d65c5c;
}

/* LOADER */

#loader {
    margin: 0 auto;
    margin-top: 50px;
}

#pokeball {
    width: 5em;
    height: 5em;
    background: #eee;
    border-radius: 50%;
    margin: 0 auto;
    animation: wiggle 1s linear .5s infinite;
}

#pokeball::before {
    content: '';
    background-color: #ec4545;
    border-radius: 2.5em 2.5em 0 0;
    width: 5em;
    height: 2.4em;
    left: 0em;
    position: absolute;
    border-bottom: .2em solid #666;
}

#details {
    height: 1.25em;
    width: 1.25em;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 1.7em;
    left: 1.6em;
    border: .2em solid #666;
}

@keyframes wiggle {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-30deg) }
  50% { transform: rotate(25deg) }
  75% {transform: rotate(0deg) }
  100% { transform: rotate(0deg) }
}

/* ERROR STATE */
#errorState {
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    display: none;
}

#qm {
    font-family: sans-serif;
    font-size: 36px;
    color: #EE6767;
}

/* POKEDISPLAY */
#pokeDisplay {
    outline-style: solid;
    outline-color: #b7b7b7;
    outline-width: 3px;
    max-width: 325px;
    height: 170px;
    margin: 0 auto;
    padding: 5px;
    margin-top: 25px;
}

#imgHolder {
    height:auto;
    position: absolute;
    float: left;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    margin-top: 33px;
    margin-left: 15px;
}

#pokeImg {
    margin: 0 auto;
    float: left;
    position: relative;
    z-index: 1;
    padding-left: 4px;
}

#imgBackdrop {
    background: #b7b7b7;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    float: left;
    position: absolute;
}
/* info section */ 
#infoHolder {
    width: 55%;
    height: 100%;
    position: relative;
    float: right;
    text-align: left;
    padding-top: 10px;
    margin-left: 5px;
}

#pokeID {
    font-size: 14px;
    color: #777;
}

#pokeName {
    font-size: 20px;
    font-weight: 600;
    padding-top: 2px; padding-bottom: 3px;
    letter-spacing: 3px;
}

#region {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 7px;
    letter-spacing: 1px;
    color: #b7b7b7;
}
/* type section */
#typeHolder {
    display: inline-block;
    text-align: center;
    margin-bottom: 7px;
}

.type {
    font-family: sans-serif;
    width: 50px;
    color: #fff;
    font-size: 12px;
    float: left;
    display: inline;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 3px; padding-bottom: 3px;
    background: #aaa;
}

#typeHolder::after {
    clear: right;
}

#weakTitle {
    font-size: 12px;
    font-weight: 600;
    color: #b7b7b7;
}

#weaknessesUL {
    list-style: none;
    padding-top: 3px;
    text-align: center;
    margin: 0;
    float: left;
    padding-left: 0;
}
